{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.b8b5b5bd-d939-4cf0-87ad-05c05143f83a",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}